<style>
    .footer-part {
        color: white;
        margin-top: 80px;
        padding-top: 80px;
        background-color: rgb(11, 59, 53);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .img-logo {
        width: 80px;
    }
    .right-zone {
        border-left: 1px solid white;
        padding-left: 10px;
    }
    .barra {
        border-bottom: 1px solid rgb(117, 77, 0);
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<footer class="footer-part">
    <div class="container-fluid px-0 mx-0">
        <div class="row d-flex justify-content-center align-items-start">
            <!-- left -->
            <div class="col-2 d-flex flex-row gap-3">
                <div class="left-zone">
                    <img class="img-logo" src="https://raw.githubusercontent.com/MarioDR25/exercise-collaborative-html-website/3a64d98f234e978af3dd4475284225674bfca6f9/website/assets/img/logo-empresa.png" alt="logo empresa">
                </div>
                <div class="right-zone d-flex align-items-center">
                    <h6>ATTORNEY<br>& LAW</h6>
                </div>
            </div>
            <!-- space -->
            <div class="col-1"></div>
            <!-- center -->
            <div class="col-2">
                <div>
                    <div><i class="fa-regular fa-envelope"></i> E-mail: contact@empresa.com</div>
                    <div><i class="fa-brands fa-whatsapp"></i> Telefone: 666 999 333</div>
                    <div><i class="fa-solid fa-location-dot"></i> Endereço: Av. Sao Paulo, 100 - 205</div>
                </div>
            </div>
            <!-- space -->
            <div class="col-1"></div>
            <!-- right -->
            <div class="col-2">
                <div>
                    <div>Acompanhe:</div>
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- space -->
        <div class="row d-flex justify-content-center">
            <div class="col-8 barra"></div>
        </div>
        <!-- Copyright -->
        <div class="Copyright d-flex justify-content-center">
            <p>Copyright &copy; Your Website Name 2021</p>
        </div>
    </div>
</footer>