<style>
    .footer-part {
        color: white;
        margin-top: 80px;
        padding-top: 80px;
        background-color: rgb(11, 59, 53);
    }
    .img-logo {
        width: 150px;
    }
</style>

<footer class="footer-part">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-start">
            <!-- left -->
            <div class="col-2 d-flex flex-row">
                <div class="left-zone">
                    <img class="img-logo" src="https://raw.githubusercontent.com/MarioDR25/exercise-collaborative-html-website/e7f1566bf4128696d3d66b314fa7e3136f6f8e45/website/assets/img/logo-empresa.png" alt="logo empresa">
                </div>
                <div class="right-zone">
                    <h6>ATTORNEY<br>& LAW</h6>
                </div>
            </div>
            <!-- space -->
            <div class="col-1"></div>
            <!-- center -->
            <div class="col-2">
                <div>
                    <div><i class="fa-regular fa-envelope"></i> E-mail: contact@empresa.com</div>
                    <div><i class="fa-brands fa-whatsapp"></i> Telefone: 666 999 333</div>
                    <div><i class="fa-solid fa-location-dot"></i> Endereço: Av. Sao Paulo, 100 - Sala 205</div>
                </div>
            </div>
            <!-- space -->
            <div class="col-1"></div>
            <!-- right -->
            <div class="col-2">
                <div>
                    <div>Acompanhe:</div>
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>Copyright &copy; Your Website Name 2021</p>
        </div>
    </div>
</footer>