<div class="container py-3">
    <div class="row g-4 text-center">
        
        <div class="col-12 col-md-3">
          <div class="p-3 border border-secondary bg-secondary bg-opacity-50 rounded">
            <i class="pb-2 fa-solid fa-shield-halved text-warning fs-1"></i>
            <h6 class="mt-2 fw-bold text-white">Delegacia de Polícia</h6>
            <p class="small text-white ">Orientação em procedimentos policiais, garantindo os direitos do cliente.</p>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="p-3 border border-secondary bg-secondary bg-opacity-50 rounded">
            <i class="pb-2 fa-solid fa-scale-balanced text-warning fs-1"></i>
            <h6 class="mt-2 fw-bold text-white">Processos Criminais</h6>
            <p class="small text-white ">Atuação completa no processo penal, com foco em estratégias eficazes.</p>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="p-3 border border-secondary bg-secondary bg-opacity-50 rounded">
            <i class="pb-2 fa-solid fa-user-lock text-warning fs-1"></i>
            <h6 class="mt-2 fw-bold text-white">Cumprimento da pena</h6>
            <p class="small text-white ">Assistência jurídica na execução penal, assegurando direitos.</p>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="p-3 border border-secondary bg-secondary bg-opacity-50 rounded">
            <i class="pb-2 fa-solid fa-gavel text-warning fs-1"></i>
            <h6 class="mt-2 fw-bold text-white">Tribunais superiores</h6>
            <p class="small text-white ">Defesa em instâncias superiores, com foco em recursos e revisão.</p>
          </div>
        </div>
    </div>
</div>